main{
    margin-left: 20%;
    /* border: 1px solid white; */
    max-width: 79%;
}

h5{
    font-size: 0.9vw;
    color: #535353;
}

.project h1{
    font-size: 2.3vw;
}

.project .flex{
    width: 95%;
    justify-content: space-between;
    /* border: 1px solid white; */
    font-size: 1.1vw;
}
.project .flex span{
    cursor: pointer;
}

.active{
    background-color: rgb(0, 185, 41, 0.5);
    padding: 7px;
    width: 15%;
    text-align: center;
    border-radius: 10px;
}

.task-container{
    margin-top: 3%;
}
.tasks{
    background-color: #131313;
    max-height: 63vh;
    width: 27%;
    border-radius: 20px;
    padding: 20px 20px;
}


.files{
    margin-top: 3%;
    background-color: #131313;
    width: 92%;
    padding: 20px;
    border-radius: 20px;
}
.files ul{
    list-style-type: none;
    width: 50%;
    padding: 0;
    border-right: 1px solid rgb(255, 255, 255, 0.2);
}
.files li{
    border: 1px solid rgb(255, 255, 255, 0.2);
    padding: 20px 0;
    text-align: center;
}
#upload{
    color: #00B929;
    cursor: pointer;
}

.files iframe{
    width: 47%;
    height: 50vh;
}