@font-face {
  font-family: montserrat;
  src: url(../public/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(../public/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: montserrat-semi;
  src: url(../public/fonts/Montserrat-SemiBold.ttf);
}


*{
  color: #ffffff;
  font-family: montserrat;
}


body {
  margin: 0;
  background-color: #0A0A0A;
  overflow-x: hidden;
}
.split{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-height: 100vh;
  
}

.container{
  max-width: 83%;
  height: 100vh;
  margin-left: auto;
  /* overflow: hidden; */
  background-color: #0A0A0A;
} 